@charset "UTF-8";
/*Zerando valores*/
body{
}
/* Flex no Cabeçalho*/
.header-cabecalho{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
/* Tratando a logo agRoss*/
.agross1{
    margin-left: 80px;
    max-width: 20%;
}
/*Tratando a logo TVAgRoss*/
.tv{
    width: 200px;
    margin-right: 20px;
    max-width: 30%;
}
/* Tratando o Troque e Ganhe*/
.troque{
    width: 100px;
    margin-right: 80px;
}
/* Tratando o Menu do cabeçalho*/
ul#menu{
    list-style: none;
    padding-left: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 107, 107);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.opcoes-cabecalho{
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.pre-menu{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;

}

.tvnoar-or-not{
    margin-top: 80px;
    margin-left: 70px;
    list-style: none;
    text-decoration: underline;
}

.box1{
    background-color: red;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50px;
}
.box1:hover{
    border-radius: 0px;
    transition-duration: 0.5s;
}
.box2{
    background-color: red;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50px;
}
.box2:hover{
    border-radius: 0px;
    transition-duration: 0.5s;
}
.label-tvnoar{
    margin-left: 5px;
    padding-bottom: 5px;
}
a#tvnoar-opcao{
    color: red;
    text-decoration: none;
}
#tv-logo-central{
}
div > img#tv-logo-central{
}